/* Global Styles */
* {
    max-width: 1440px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
   background-color: #F5F8FF; 
}


.container {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    padding: 10px 0px;
    
}
/*sheared color*/
.sheared-color{
    color: #5c6ac4
}



/* Nav style*/
header {
    background-image: url(/images/Hero-bg.png);
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    max-height: 698px;
    padding: 2rem 0;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.btn {
    background-color: #5c6ac4;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
}
/*hero section*/

.hero{
    text-align: center;
    margin-top: 158px 0;
}
.hero h1 {
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 1.4;
}

/*banner sections*/

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  margin-top: 50px;
}

.banner-text h3{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1;
}
.banner-text p{
    font-size: 20px;
font-weight: 400;
margin-top: 5px;

}
.banner-text .btn{
    font-size: 12px;
    font-weight: 500;
    padding: 12px 36px;
text-decoration: none;
border-radius: 6px;
display: inline-block;
margin-top: 10px;
}

.banner img {
    max-width: 403px;
    max-height: 328px;
    border-radius: 10px;
}

/*users style*/
.users{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
background: rgba(78, 71, 255, 0.1);
margin-top: 100px;
padding: 50px 60px;
}
.user-content{
   display: flex; 
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   gap: 100px;
   margin-top: 40px;
}
.slogan{
    font-size: 24px;
    font-weight: bold;
}
.active{
    text-align: center;
}

.follow {
    text-align: center;
}
.rate {
    text-align: center;
}
.user-content h2{
   color: #5c6ac4;
   font-size: 80px;
   font-family: 'Times New Roman', Times, serif;

}

/* user review part*/
.users-say{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    
}
.user-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
.users-say h3{
    font-size: 30px;
    font-weight: bold;
    list-style: 1px;
    font-family: monospace;
}

.user-box h4{
    margin-top: 10px;
    font-size: 16px;
}
.user-box h6{
    margin-top: 10px;
}
.first-review{
    background: white;
    border-radius: 10px;
    
    padding: 20px 30px;
    
}
.sec-review {
    background: white;
    border-radius: 10px;
    
    padding: 20px 30px;
    
}
.thr-review {
    background: white;
    border-radius: 10px;
    
    padding: 20px 30px;
    
}